.or-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  height: 10px;
  margin: 16px 0 24px;
}
.or-divider-inner {
  width: 24px;
  padding: 2px 8px;
  text-align: center;
  background-color: white;
  margin: 0 auto;
}
